<!-- Begin Header -->
<header class="container">
	<section class="logo-wrap">
		<section class="logo">
			<h1 id = "logo-text">#95BOOKS</h1>
		</section>	
		<section class = "tagline-wrap">
			<h4><span id = "tagline">what you're reading</span></h4>
		</section>
	</section>
	<article class="row stats-wrap">
		<section class="reader-stats col-md-3 col-md-offset-2">
			<h4>CURRENT READERS: <%= @displayable_readers.all.length %></h4>
		</section>
		<section class="book-stats col-md-3 col-md-offset-2">
			<h4>BOOKS READ: <%= Book.all.length %></h4>
		</section>
	</section>
</header>	
<!-- Begin Reader Displays -->
<main class="container reader-display-wrap">
<section class="row reader-row">
<% @paged_readers.each do |reader| %>
   <% @reader = reader %>
   

			<section class ="col-md-6 reader-display text-center">
			<h4><span class="reader-name">					<%= @reader.name %></span> is reading</h4>
			<ul>
				<li class = "book-title">					<%= @reader.latest_book.title %></li>
				<li> by <span class="author-title"> 		<%= @reader.latest_book.author %></span></li>
				<li class = "publishing-house"> 			<%= @reader.latest_book.publisher %></li>
			</ul>
			</section>


<% end %>
</section>
<section class= "row pagination-wrapper text-center">
	<%= will_paginate @paged_readers %>
</section>
</main>
<!-- Begin footer -->